.open {
    display: block;
}

.closed {
    display: none;
}

.section-container {
    display: flex;
    border-color: black;
    border-style: solid;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
    border-radius: 10px;
}