.open {
    display: block;
}

.closed {
    display: none;
}


.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 200px;
    background-color: rgb(209, 73, 73);
    border-radius: 37px;
    height: 100%;
}

.section-column {
    flex: 0 0 50%;
}

.section-column input {
    width: 100%;
    margin-bottom: 15px;
}