.open {
    display: block;
}

.closed {
    display: none;
}


.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.section-column {
    flex: 0 0 50%;
}

.section-column input {
    width: 100%;
    margin-bottom: 15px;
}