.post-container {
    width: 800px;
    height: 500px;
    display: grid;
    background-color: white;
    border-color: black;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    overflow:hidden;
    margin-bottom: 20px;
}

.name {
    color: black;
}

.img-container {
    grid-column: 1 / 2;
    background-color: #BA2626;
}

.post-info-container {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.right-align {
    align-items: flex-end;
    text-align: right;
}

.left-align {
    align-items: start;
}

.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items-container {
    grid-row: 2 / 3;
    height: 60%;
    text-align: start;
}

.item-list {
    height: 80%;
    border-style: solid;
    border-color: rgb(3, 3, 3);
}

.contact-info {
    grid-row: 3 / 4;
    height: 20%;
    text-align: start;
}

.restaurant {
    font-size: 25px;
    font-weight: 800;
}

.organization {
    font-size: 16px;
    font-weight: 500;
}

.left-side {
    background-color: rgba(255, 0, 0, 0.3);
    padding: 20px;
}

.right-side {
    background-color: rgba(255, 0, 0, 0.3);
    padding: 20px;
}