.post-container {
    width: 800px;
    height: 500px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    display:grid;
    grid-template-columns: minmax(500px,5fr) minmax(300px,3fr);
    
}

.name {
    color: black;
}

.img-container {
    grid-column: 1 / 2;
    
}

.post-info-container {
    background-color: rgb(150,100,100,0.1);
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.right-align {
    align-items: flex-end;
    text-align: right;
}

.left-align {
    align-items: start;
}
.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items-container {
    grid-row: 2 / 3;
    height: 60%;
    text-align: start;
}

.item-list {
    height: 80%;
    border-style:solid;
    border-color: black;
}

.contact-info {
    grid-row: 3 / 4;
    height: 20%;
    text-align: start;
}

.restaurant {
    font-size: 25px;
    font-weight: 800;
}

.organization {
    font-size: 16px;
    font-weight: 500;
}