.input-group {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

label {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

input {
    width: 100%;
    padding: 2px;
    border-radius: 4px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;;
    font-weight: 500;
    color: black;
}